* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*Navigation*/
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.5vw;
    background-image: url("../images/SLC.jpeg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 99999;
} 

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 0 1.7vw;
}

header a {
    text-decoration: none;
} 

/*Hero*/
.hero {
    background-image: url("../images/SLC.jpeg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    height: 33vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hero img {
    height:90%;
}



